Client/Service References/BDKRWS/BDKRWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BDKRWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18198/BDKRWS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18198/BDKRWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18198/BDKRWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataAccess" />
      <xsd:import schemaLocation="http://localhost:18198/BDKRWS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataAccess.Filters" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBDKRWS_门店信息_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:门店信息_GetList" />
  </wsdl:message>
  <wsdl:message name="IBDKRWS_门店信息_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:门店信息_GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IBDKRWS_仓库信息_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:仓库信息_GetList" />
  </wsdl:message>
  <wsdl:message name="IBDKRWS_仓库信息_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:仓库信息_GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IBDKRWS_仓库信息_CreateNewCode_InputMessage">
    <wsdl:part name="parameters" element="tns:仓库信息_CreateNewCode" />
  </wsdl:message>
  <wsdl:message name="IBDKRWS_仓库信息_CreateNewCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:仓库信息_CreateNewCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IBDKRWS">
    <wsdl:operation name="门店信息_GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBDKRWS/门店信息_GetList" message="tns:IBDKRWS_门店信息_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBDKRWS/门店信息_GetListResponse" message="tns:IBDKRWS_门店信息_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="仓库信息_GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBDKRWS/仓库信息_GetList" message="tns:IBDKRWS_仓库信息_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBDKRWS/仓库信息_GetListResponse" message="tns:IBDKRWS_仓库信息_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="仓库信息_CreateNewCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IBDKRWS/仓库信息_CreateNewCode" message="tns:IBDKRWS_仓库信息_CreateNewCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBDKRWS/仓库信息_CreateNewCodeResponse" message="tns:IBDKRWS_仓库信息_CreateNewCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBDKRWS" type="tns:IBDKRWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="门店信息_GetList">
      <soap:operation soapAction="http://tempuri.org/IBDKRWS/门店信息_GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="仓库信息_GetList">
      <soap:operation soapAction="http://tempuri.org/IBDKRWS/仓库信息_GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="仓库信息_CreateNewCode">
      <soap:operation soapAction="http://tempuri.org/IBDKRWS/仓库信息_CreateNewCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BDKRWS">
    <wsdl:port name="BasicHttpBinding_IBDKRWS" binding="tns:BasicHttpBinding_IBDKRWS">
      <soap:address location="http://localhost:18198/BDKRWS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>