Client/Service References/BDKRWS/BDKRWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18198/BDKRWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataAccess" />
  <xs:import schemaLocation="http://localhost:18198/BDKRWS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataAccess.Filters" />
  <xs:element name="门店信息_GetList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="门店信息_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="门店信息_GetListResult" nillable="true" type="q1:ArrayOf门店ViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="仓库信息_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataAccess.Filters" minOccurs="0" name="filter" nillable="true" type="q2:仓库Filter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="仓库信息_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="仓库信息_GetListResult" nillable="true" type="q3:ArrayOf仓库ViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="仓库信息_CreateNewCode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="仓库信息_CreateNewCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="仓库信息_CreateNewCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>