Client/Service References/BDKRWS/BDKRWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOf门店ViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="门店ViewModel" nillable="true" type="tns:门店ViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOf门店ViewModel" nillable="true" type="tns:ArrayOf门店ViewModel" />
  <xs:complexType name="门店ViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="店长" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="编码" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="联系电话" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="门店名称" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="门店地址" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="门店ViewModel" nillable="true" type="tns:门店ViewModel" />
  <xs:complexType name="ArrayOf仓库ViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="仓库ViewModel" nillable="true" type="tns:仓库ViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOf仓库ViewModel" nillable="true" type="tns:ArrayOf仓库ViewModel" />
  <xs:complexType name="仓库ViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="仓库名称" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="仓库类别名称" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="制品缓冲库" type="xs:boolean" />
      <xs:element minOccurs="0" name="编码" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="门店名称" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="仓库ViewModel" nillable="true" type="tns:仓库ViewModel" />
</xs:schema>