Client/Service References/BDKRWS/BDKRWS3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataAccess.Filters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataAccess.Filters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="仓库Filter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Filter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="仓库Filter" nillable="true" type="tns:仓库Filter" />
  <xs:complexType name="Filter">
    <xs:sequence>
      <xs:element minOccurs="0" name="关键词" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Filter" nillable="true" type="tns:Filter" />
</xs:schema>